#input_username_login{
    background-image: url(/static/style/BootstrapIcons-1.5.0/icons/people-fill.svg);
    background-position: 10px 10px;
    background-size: 15px;
    background-repeat: no-repeat;
    width: 640px;
    position: relative;
    top: 350px;
    bottom: 500px;
    right: 0px;
    left: 500px;
    width: 280px;
    padding-left: 30px;
    border-radius: 5px;
}

#input_password_login{
    background-image: url(/static/style/BootstrapIcons-1.5.0/icons/lock-fill.svg);
    background-position: 10px 10px;
    background-size: 15px;
    background-repeat: no-repeat;
    width: 640px;
    position: relative;
    top: 350px;
    bottom: 500px;
    right: 0px;
    left: 500px;
    width: 280px;
    padding-left: 30px;
    border-radius: 8px;
}

#div_checkbox_login{
    position: relative;
    top: 360px;
    bottom: 500px;
    right: 0px;
    left: 500px;
}

#a_login{
    position: relative;
    top: 335px;
    bottom: 500px;
    right: 0px;
    left: 700px;
}

#button_login{
    background-image: url(/static/style/BootstrapIcons-1.5.0/icons/key-fill.svg);
    background-position: 10px 10px;
    background-size: 15px;
    background-repeat: no-repeat;
    width: 640px;
    position: relative;
    top: 330px;
    bottom: 500px;
    right: 0px;
    left: 590px;
    width: 100px;
    padding-left: 30px;
    border-radius: 8px;
}