#inputname{
    background-image: url(/static/style/BootstrapIcons-1.5.0/icons/chat-text-fill.svg);
    background-position: 10px 10px;
    width: 640px;
    position: left;
    padding-left: 30px;
    background-size: 15px;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#inputbirth{
    width: 640px;
    position: left;
    padding-left: 30px;
    background-size: 15px;
    background-repeat: no-repeat;
    border-radius: 8px;
}