#div_username_signup{
    position: relative;
    top: 300px;
    bottom: 500px;
    right: 0px;
    left: 500px;
    width: 600px;
    padding-left: 0px;
    border-radius: 8px;
}

#div_password_signup{
    position: relative;
    top: 305px;
    bottom: 500px;
    right: 0px;
    left: 500px;
    width: 600px;
    padding-left: 0px;
    border-radius: 8px;
}

#div_submit_signup{
    position: relative;
    top: 330px;
    bottom: 500px;
    right: 0px;
    left: 500px;
    width: 600px;
    padding-left: 0px;
    border-radius: 8px;
}

#div_a_signup{
    position: relative;
    top: -180px;
    bottom: 500px;
    right: 0px;
    left: -270px;
    width: 600px;
    padding-left: 0px;
    border-radius: 8px;
}

#div_checkbox_signup{
    position: relative;
    top: 230px;
    bottom: 500px;
    right: 0px;
    left: 500px;
}