#div_students_search{
    background-position: 10px 10px;
    background-size: 15px;
    background-repeat: no-repeat;
    position: absolute;
    top: 56px;
    bottom: 887px;
    right: 0px;
    left: 625px;
    width: 280px;
    padding-left: 30px;
    border-radius: 5px;
}