#div_students_search{
    background-position: 10px 10px;
    background-size: 15px;
    background-repeat: no-repeat;
    position: relative;
    top: -38px;
    bottom: 500px;
    right: 0px;
    left: 540px;
    width: 280px;
    padding-left: 30px;
    border-radius: 5px;
}