#inputreda{
    background-image: url(/static/style/BootstrapIcons-1.5.0/icons/pencil-square.svg);
    background-position: 10px 10px;
    background-size: 15px;
    background-repeat: no-repeat;
    width: 640px;
    position: left;
    padding-left: 30px;
    border-radius: 8px;
}

#inputhuman{
    background-image: url(/static/style/BootstrapIcons-1.5.0/icons/compass.svg);
    background-position: 10px 10px;
    background-size: 15px;
    background-repeat: no-repeat;
    width: 640px;
    position: left;
    padding-left: 30px;
    border-radius: 8px;
}

#inputnat{
    background-image: url(/static/style/BootstrapIcons-1.5.0/icons/calculator.svg);
    background-position: 10px 10px;
    background-size: 15px;
    background-repeat: no-repeat;
    width: 640px;
    position: left;
    padding-left: 30px;
    border-radius: 8px;
}

#inputling{
    background-image: url(/static/style/BootstrapIcons-1.5.0/icons/eyeglasses.svg);
    background-position: 10px 10px;
    background-size: 15px;
    background-repeat: no-repeat;
    width: 640px;
    position: left;
    padding-left: 30px;
    border-radius: 8px;
}